@require 'sprite'

.micon-search {
  display: block;
  sprite($s_icon_search_gray)
  &:hover {
    sprite($s_icon_search_blue)
  }
}
.micon-tag {
  display: inline-block;
  sprite($s_icon_tags)
}
.micon-rubric {
  display: inline-block;
  sprite($s_icon_folder)
}