@require 'icons'
@require 'sprite'

$widthPage = 1150px;
$widthColumnRight = 300px;
$widthColumnCenter = $widthPage - $widthColumnRight;
$paddingColumnCenter = 15px;
$heightFooter = 85px;

$colorBlue = #6ebed3;
$colorBorder = #67a4de;
$colorWhite = #ffffff;
$colorGray = #afafaf;
$colorGrayText = #5f5f5f;
$colorLink = $colorBlue;
$colorFooter = #666666;

$fontH1 = 24px;
$fontDefault = 15px;

box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

box-shadow-element() {
  box-shadow: 0px 3px 6px #ddd
}

html, body { margin: 0; padding: 0; width: 100%; height: 100%;
  font-family: Arial, Tahoma;
  color: $colorGrayText;
}
html * { color: $colorGrayText; }
html { background: url("./../images/bg-fon.jpg"); }

h1 { color: $colorBlue; font-size: $fontH1; }

a { color: $colorGray; text-decoration: none; transition:color 0.3s ease; }
a:hover { color: $colorBlue; text-decoration: underline; }

.wrapper-content { width: $widthPage; min-height: 100%; margin: 0 auto; }

.header {
  height: 145px;
  padding: 10px 30px;
  position: relative;
  background: $colorWhite;
  border-bottom: 4px solid $colorBorder;
  box-shadow-element();
  &__logo {
    width: 311px;
    height: 142px;
    background-image: url("./../images/logo.png");
  }
}

.column-right {
  float: right;
  box-sizing: border-box; width: $widthColumnRight; }
.column-center {
  width: $widthColumnCenter; padding-right: $paddingColumnCenter;
  box-sizing: border-box;
  float: right;  }
.footer {
  color: $colorWhite;
  background: $colorFooter;
  $footer-color = #626262;
  $footer-font-size = 18px;
  height: $heightFooter; width: $widthPage; margin-top: -($heightFooter);
  padding: 53px 0 0 13px; box-sizing: border-box;
  font-size: $footer-font-size;
  & a { color: $colorWhite; }
}
.footer-dummy { height: $heightFooter; }
.wrapper-content-foother { width: $widthPage; margin: 0 auto; }

.post-item {
  box-shadow-element();
  background: white;
  padding: 15px 15px 15px 15px;
  margin-top: 15px;

  &__title {
    margin-bottom: 2px;
    & * { font-size: 22px; color: darken($colorGrayText,  50%); }
  }
  &__text {
    margin-bottom: 8px;
    font-size: 18px;

    & > p {
      padding: 0;
      margin: 0;
    }
  }

  &__filter {
    font-size: $fontRubricInfo; margin-bottom: 5px;
    & i { margin-right: 5px; }
  }
}

$fontRubricInfo = 14px;
.post-info {
  & [class="^icon"] {
    vertical-align: top;
    line-height: 15px;
  }
  &__text {
    vertical-align: top;
    line-height: 22px;
    color: #AAA;
  }
  font-size: $fontRubricInfo;
  padding: 10px 0px;
  &>span { margin: 0 15px 0 0; }
}

.post-page {
  box-shadow-element();
  padding: 5px 15px;
  margin-top: 15px;
  background: $colorWhite;
  & .post-item-info { padding: 0; }
}

.side-block {
  box-shadow-element();
  background: $colorWhite;
  margin-top: 15px;
  &__header { height: 65px; width: 300px; border-bottom: 4px solid $colorBorder;
    font-size: 24px;
    line-height: 65px;
    text-align: center; }
  &__content {  }
}

.icon {
  &-author {
    display: inline-block;
    sprite($s_icon_author);
  }
  &-data {
    display: inline-block;
    sprite($s_icon_data);
  }
  &-views {
    display: inline-block;
    sprite($s_icon_views);
  }
}

.icon-social {
  &-fb {
    display: inline-block;
    sprite($s_icon_social_facebook);
  }
  &-vk {
    display: inline-block;
    sprite($s_icon_social_vkontakte);
  }
  &-tw {
    display: inline-block;
    sprite($s_icon_social_twitter);
  }
}

.image-side {
  height: 412px;
  background: $colorWhite;
  margin-top: 15px;
}

.subscribe-side {
  height: 200px;
  background: $colorWhite;
  margin-top: 15px;
}

.social-side { margin-bottom: 15px; }
.social-side .side-block__content {
  padding: 20px 20px;
  line-height: 0px;
}
.social-side i { margin-left: 5px; }
.social-side i:first-child { margin-left: 0px; }

.social-share {
  box-shadow-element();
  height 20px; margin: 15px 0;
  background: $colorWhite;
  padding: 15px;
  &__title {
    vertical-align: top;
    line-height: 21px;
    margin-right: 10px;
  }
}
.fb-like, .vk_like, #ok_shareWidget {
  display: inline-block!important;
  vertical-align: top;
  width: 150px!important;
}
.twitter-share-button {
  margin-left: -10px;
}