@require 'icons'
@require 'sprite'

$widthPage = 1200px;
$widthColumnLeft = 300px;
$widthColumnCenter = $widthPage - $widthColumnLeft;
$heightFooter = 100px;

$colorBlue = #08599b;
$colorGray = #afafaf;
$colorGrayText = #5f5f5f;
$colorLink = $colorBlue;

$fontH1 = 24px;

html, body { margin: 0; padding: 0; width: 100%; height: 100%;
  font-family: Arial, Tahoma;
  color: $colorGrayText;
}
  html * { color: $colorGrayText; }
html { background: url("./../image/bg-fon.jpg"); }
body { background: url("./../image/bg-fon-line.png") }

h1 { color: $colorBlue; font-size: $fontH1; }

a { color: $colorGray; text-decoration: none; transition:color 0.3s ease; }
a:hover { color: $colorBlue; text-decoration: underline; }

.wrapper-content { width: $widthPage; min-height: 100%; margin: 0 auto; background-color: #ffffff; }

.header {
  height: 240px;
  background: url("./../image/bg-header.png");
  position: relative;

  & .logo { background: url("./../image/logo.png");
    height: 97px; width: 396px;
    display: block; position: absolute; top: 70px; left: 20px;
  }

  & .search-box {
    position: absolute; right: 20px; bottom: 20px;
    font-size: 0;
    $borderWidth = 1px;
    & .search-input, & .btn-search {  transition:all 1s ease; }
    & .search-input { width: 250px; height: 35px; box-sizing: border-box; vertical-align: middle;
      padding: 4px 8px; font-size: 15px;
      border: $borderWidth solid $colorGray; border-right: none; }
    & .btn-search { width: 35px; height: 35px; padding: 3px; box-sizing: border-box; vertical-align: middle;
      background: none; border $borderWidth solid $colorGray;
      cursor: pointer; }
    &.focus .search-input, &.focus .btn-search,
    &:hover .search-input, &:hover .btn-search
    { border-color: $colorBlue; }
  }
}

.column-left { box-sizing: border-box; width: $widthColumnLeft; float: left;
  border-right: 1px dashed $colorGray; }
.column-center { width: $widthColumnCenter;padding: 0 15px; box-sizing: border-box;
   float: right;  }
.footer {
  $footer-color = #626262;
  $footer-font-size = 18px;
  background: url("./../image/bg-footer.png"); background-color: #E8E8E8;
  height: $heightFooter; width: $widthPage; margin-top: -($heightFooter);
  color: $footer-color;
  padding: 15px 25px; box-sizing: border-box;
  font-size: $footer-font-size;

  & a { color: #626262; }
  &-copyright { float: left; }
  &-menu { float: right; }
  &-menu>ul { margin: 0; font-size: 0; }
  &-menu>ul>li { list-style-type: none; display: inline-block; padding: 0 10px;
    border-left: 1px solid #9d9f9e; border-right: 1px solid white; font-size: $footer-font-size; }
  &-menu>ul>li:first-child { padding-left: none; border-left: none; }
  &-menu>ul>li:last-child { border-right: none; }
}
.footer-dummy { height: $heightFooter; }
.wrapper-content-foother { width: $widthPage; margin: 0 auto; }

.menu-side {
  font-size: 20px;
  margin-top: 20px;
  padding: 0 10px 0 20px;

  & li { list-style-type: none; }
  & .active a { color: $colorBlue; }
  & .depth0 { margin-bottom: 10px; }
  & .depth1 { font-size: 16px; margin-left: 25px; margin-bottom: 7px;
      display: block; position: relative; }
  & .depth1:before { content: "■ "; color: $colorBlue; position: absolute;
      left: -15px; top: 0; font-size: 13px; }
}

.btn {
  display: inline-block; border: 1px solid $colorGray; padding: 5px;
  transition: all 0.6s ease;

  &:hover { border-color: $colorBlue; }
}

.rubric-item {
  margin: 12px 0 30px 0;

  &-image { float: left; margin-right: 10px; }
  &-image img { max-width: 200px; }
  &-title {
    margin-bottom: 2px;
    & * { font-size: 22px; color: darken($colorGrayText,  50%); }
  }
  &-text {
    margin-bottom: 8px;
    font-size: 18px;

    & > p {
      padding: 0;
      margin: 0;
    }
  }
}

.post-item {
  margin: 12px 0 30px 0;

  &-title {
    margin-bottom: 2px;
    & * { font-size: 22px; color: darken($colorGrayText,  50%); }
  }
  &-text {
    margin-bottom: 8px;
    font-size: 18px;

    & > p {
      padding: 0;
      margin: 0;
    }
  }

  $fontRubricInfo = 13px;
  &-info {
    font-size: $fontRubricInfo;
    margin-bottom: 1px;
    &>span { margin: 0 15px 0 0; }
  }
  &-filter {
    font-size: $fontRubricInfo; margin-bottom: 5px;
    & i { margin-right: 5px; }
  }
}

.post-page {  }

.content-about {
  & .about-user { text-align: center; margin-bottom: 30px; }
  & .user-fio { font-size: 20px; margin: 0; }
  & .user-info { margin: 0; }
}

.content-grid {
  border-collapse: collapse;
  & td { border-bottom: 1px solid black; padding: 15px 0;   vertical-align: top; }
  & tr:last-child td { border-bottom: none; }
  &__image { width: 180px; text-align: center; }
}