
@require 'sprite'

.important-info {
  border: 2px solid #E7873C;
  padding: 15px 15px 15px 80px;
  border-radius: 4px;
  position: relative;
  min-height: 100px;

  &:before {
    position: absolute;
    left: 5px; top: 5px;
    content: "";
    display: inline-block;
    sprite($s_icon_important)
  }
}